<link rel="stylesheet" type="text/css" href="/stylesheets/common/header.css"/>
<script type="text/javascript" src="/javascripts/common/header.js"></script>
<%
const navArray = [
    {
        'menu': '春潮寮について',
        'menu_list': [
            {
                'label': '寮務主事挨拶',
                'link': '#'
            },
            {
                'label': '寮の概要',
                'link': '#'
            },
            {
                'label': '入寮者数',
                'link': '#'
            },
            {
                'label': '設備（男子）について',
                'link': '#'
            },
            {
                'label': '設備（女子）について',
                'link': '#'
            },
            {
                'label': '寮生の日課について',
                'link': '#'
            }
        ]
    },
    {
        'menu': '入寮について',
        'menu_list': [
            {
                'label': '必要となる費用',
                'link': '#'
            },
            {
                'label': '女子寮担当者より',
                'link': '#'
            }
        ]
    },
    {
        'menu': '寮生会について',
        'menu_list': [
            {
                'label': '寮生会概要',
                'link': '#'
            },
            {
                'label': '男子寮総代挨拶',
                'link': '#'
            },
            {
                'label': '女子寮総代挨拶',
                'link': '#'
            }
        ]
    },
    {
        'menu': '寮行事について',
        'menu_list': [
            {
                'label': '今年度の行事の様子',
                'link': '#'
            },
            {
                'label': '過去の行事の様子',
                'link': '#'
            }
        ]
    },
    {
        'menu': 'お問い合わせ',
        'menu_list': [
            {
                'label': 'アクセス・お問い合わせ',
                'link': '/contact'
            }
        ]
    }
];
%>
<header>
    <div id="site-title">
        <a href="/">
            <img id="site-logo" src="/images/common/site-logo.png"/>
            <label style="font-size:1.8em;">函館高専&nbsp;</label>
            <label style="font-size:2.5em;">春潮寮</label>
        </a>
    </div>
    <nav>
        <ul class="nav-menu-list">
            <%
            var count = 1;
            navArray.forEach(function (value) {
            %>
                <li class="nav-menu">
                    <a class="nav-menu-drop-button" href="javascript:void(0);">
                        <div class="nav-menu-label">
                            <label><%= value.menu %></label>
                        </div>
                        <div class="triangle-div">
                            <span class="triangle"></span>
                        </div>
                    </a>
                    <%
                    if(navArray.length == count){
                    %>
                        <ul class="nav-inner" id="nav-last">
                            <%
                            value.menu_list.forEach(function (innerLabel) {
                            %>
                                <li><a class="nav-link" href="<%= innerLabel.link %>"><%= innerLabel.label %></a></li>
                            <%
                            });
                            %>
                        </ul>
                    <%
                    }else{
                    %>
                        <ul class="nav-inner">
                            <%
                            value.menu_list.forEach(function (innerLabel) {
                            %>
                                <li><a class="nav-link" href="<%= innerLabel.link %>"><%= innerLabel.label %></a></li>
                            <%
                            });
                            %>
                        </ul>
                    <%
                    }
                    %>
                </li>
            <%
                count++;
            });
            %>
        </ul>
    </nav>
</header>